openapi: 3.0.4
info:
  title: formulari
  description: Servizio Formulari RENTRI
  termsOfService: 'https://www.rentri.gov.it'
  contact:
    email: techref@rentri.it
  version: 1.0.20260211-891
  x-summary: Servizio Formulari RENTRI
  x-api-id: rentrigov.formulari
servers:
  - url: 'https://api.rentri.gov.it/formulari/v1.0'
    description: Production
paths:
  /:
    get:
      tags:
        - Formulario digitale
      summary: Elenco formulari
      description: >-
        Ottiene l'elenco dei formulari richiesti con visibilità per l'unità
        locale indicata e con i filtri specificati.
      parameters:
        - name: num_iscr_sito
          in: query
          description: >-
            Numero iscrizione unità locale rilasciato all'iscrizione per il
            quale si richiedono i formulari.

            Il dato deve essere valorizzato in assenza di un valore per la
            proprietà "identificativo_soggetto".
          schema:
            type: string
        - name: identificativo_soggetto
          in: query
          description: >-
            Identificativo del soggetto.

            Quando viene specificato vengono restituiti tutti i FIR digitali nei
            quali il valore specificato 

            coincide con il codice fiscale di uno dei soggetti indicati,
            indipendentemente dallo specifico ruolo 

            e indipendentemente dall'aver acquisito la visibilità del FIR
            digitale in una specifica Unità Locale.

            Il dato deve essere valorizzato in assenza di un valore per la
            proprietà "num_iscr_sito".
          schema:
            type: string
        - name: solo_senza_visibilita_siti
          in: query
          description: >-
            Se valorizzata a true, quando viene valorizzata la proprietà
            "identificativo_soggetto" esclude dalla lista restituita 

            i FIR per cui esiste già visibilità per almeno un'unità locale
            riconducibile al soggetto stesso.
          schema:
            type: boolean
        - name: numero_fir
          in: query
          description: Numero del FIR
          schema:
            type: string
        - name: codice_blocco
          in: query
          description: Codice blocco del FIR
          schema:
            type: string
        - name: data_creazione_da
          in: query
          description: >-
            Data di creazione a partire dalla quale si richiedono i formulari
            (formato ISO 8601 UTC)
          schema:
            type: string
            format: date-time
        - name: data_creazione_a
          in: query
          description: >-
            Data massima di creazione per la quale si richiedono i formulari
            (formato ISO 8601 UTC)
          schema:
            type: string
            format: date-time
        - name: data_emissione_da
          in: query
          description: >-
            Data di emissione a partire dalla quale si richiedono i formulari
            (formato ISO 8601 UTC)
          schema:
            type: string
            format: date-time
        - name: data_emissione_a
          in: query
          description: >-
            Data massima di emissione entro la quale si richiedono i formulari
            (formato ISO 8601 UTC)
          schema:
            type: string
            format: date-time
        - name: codice_eer
          in: query
          description: Codice EER
          schema:
            maxLength: 8
            type: string
        - name: stati
          in: query
          schema:
            type: array
            items:
              type: string
        - name: Paging-Page
          in: header
          description: Valore per l'header Paging-Page.
          schema:
            maximum: 2147483647
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: Paging-PageSize
          in: header
          description: Valore per l'header Paging-PageSize.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: Esito della richiesta
          headers:
            Paging-PageCount:
              description: Numero totale di pagine.
              schema:
                type: integer
                description: Numero totale di pagine.
                format: $int32
            Paging-Page:
              description: Numero di pagina.
              schema:
                type: integer
                description: Numero di pagina.
                format: $int32
            Paging-PageSize:
              description: Dimensione della pagina.
              schema:
                type: integer
                description: Dimensione della pagina.
                format: $int32
            Paging-TotalRecordCount:
              description: Numero totale di record.
              schema:
                type: integer
                description: Numero totale di record.
                format: $int32
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormularioItemResult'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di parametri richiesti
            non specificati
        '403':
          description: Operazione non consentita
        '404':
          description: Entità non trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Crea FIR"
      description: >-
        Acquisisce la richiesta di creazione di un nuovo FIR.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) il soggetto produttore o il soggetto del primo
        trasportatore indicati nei dati del formulario usati come modello.


        Il numero del nuovo FIR può essere specificato nell'apposita proprietà
        del modello,

        altrimenti verrà generato automaticamente dal sistema dal blocco
        indicato nel parametro <b>codice_blocco</b>.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: codice_blocco
          in: query
          description: >-
            Codice blocco dal nuovo dal quale verrà vidimato in automatico il
            nuovo numero FIR da associare al formulario
          schema:
            pattern: '^[BCDFGHJKLMNPQRSTVWXYZ]{4,6}$'
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Dati del formulario da creare
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/NuovoFormularioModel'
              description: Formulario
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoCreaFormularioModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}':
    get:
      tags:
        - Formulario digitale
      summary: Dettaglio FIR
      description: >-
        Restituisce i dati completi del formulario indicato. 


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) almeno uno dei soggetti coinvolti nel formulario.
      parameters:
        - name: numero_fir
          in: path
          description: Numero del FIR per il quale si richiede il dettaglio
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
      responses:
        '200':
          description: Operazione eseguita con successo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DettaglioFormulario'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di parametri richiesti
            non specificati
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita.
        '404':
          description: Formulario non trovato.
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Modifica FIR"
      description: >-
        Acquisisce la richiesta di modifica dei dati di un FIR esistente.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) il soggetto produttore o il soggetto del primo
        trasportatore indicati nel formulario originale.


        Stati del formulario ammessi:

        <ul><li>InserimentoQuantita</li><li>InserimentoQuantitaTrasportoIniziale</li><li>InserimentoTrasportoIniziale</li><li>FirmaProduttoreTrasportatoreIniziale</li><li>FirmaTrasportatoreIniziale
        (per formulario da trasbordo parziale)</li></ul>

        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Dati del formulario da sostituire a quelli presenti
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/NuovoFormularioModel'
              description: Formulario
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/accettazione':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Accettazione FIR"
      description: >-
        Acquisisce la richiesta di aggiunta dei dati di accettazione del rifiuto
        da parte del destinatario per il FIR specificato.


        L'aggiunta dei dati di accettazione è consentita solo ad un'utenza che
        abbia visibilità per (o coincida con) il soggetto destinatario che è in
        attesa del rifiuto. 


        Stati del formulario ammessi:

        <ul><li>InserimentoAccettazione</li></ul>

        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Dati di accettazione del rifiuto
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DatiAccettazioneModel'
              description: Dati accettazione
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/acquisizione-firma':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Imposta dati firma"
      description: >-
        Acquisisce la richiesta di aggiunta dei dati per completare la creazione
        del file di firma digitale XAdES nel file xFIR.


        L'operazione può essere eseguita da un'utenza che abbia visibilità su (o
        coincida con) il soggetto,

        tra quelli indicati nel formulario, coinvolto nell'operazione di
        aggiunta delle informazioni da firmare.


        Il formulario deve essere in uno stato di attesa di firma, conseguente
        all'aggiunta di nuove informazioni.


        Stati del formulario ammessi:

        <ul><li>FirmaProduttoreTrasportatoreIniziale</li><li>FirmaProduttore</li><li>FirmaTrasportatoreIniziale</li><li>FirmaTrasportatoreSuccessivo</li><li>FirmaAccettazione</li><li>FirmaAnnotazione</li><li>FirmaAnnullamento</li><li>FirmaTrasbordoParziale</li><li>FirmaTrasbordoTotale</li><li>FirmaSostaTecnica</li><li>FirmaDestinatarioSuccessivo</li><li>FirmaAccettazioneSuccessiva</li></ul>

        Il valore della proprietà <i>firma</i> deve corrispondere alla firma
        crittografica calcolata con la chiave privata 

        associata al certificato X509 indicato nella proprietà
        <i>certificato</i>.


        Il valore della proprietà <i>token</i> deve coincidere con il valore
        restituito dalla precedente invocazione all'endpoint <i>POST
        /{numero_fir}/hash</i>,

        utilizzata per richiedere il codice hash da firmare.


        In ambiente di <b>PRODUZIONE</b> l'operazione asincrona, con
        l'identificativo della transazione restituito dall'endpoint, avrà esito
        positivo solo se 

        il codice hash firmato è stato calcolato sulla base di una data
        dichiarata di firma successiva alle ore 00:00 del giorno 13/02/2026.


        L'art. 7 c.3 del D.M. 59/2023 prevede che il FIR sia sottoscritto da
        parte degli operatori coinvolti nelle diverse fasi del trasporto, 

        per cui se il certificato di firma è intestato ad una persona giuridica
        deve riferirsi al soggetto firmatario.

        Esclusivamente in ambiente <b>DEMO</b>, se il certificato firmatario non
        viene riconosciuto come valido secondo la regola qui descritta, il
        sistema produrrà un avviso non bloccante.

        In ambiente di <b>PRODUZIONE</b> il controllo sarà bloccante.


        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario a cui si aggiunge la firma
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Dati necessari per aggiungere la firma al formulario
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/FirmaModel'
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/acquisizione-visibilita/{num_iscr_sito}':
    post:
      tags:
        - Formulario digitale
      summary: Acquisizione visibilità FIR
      description: >-
        Acquisisce la visibilità in ricerca sull'unità locale specificata di un
        FIR digitale creato da terzi.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) almeno uno dei soggetti coinvolti nel formulario, 

        e a cui deve essere riferibile il numero di iscrizione dell'unità locale
        specificata nel parametro <b>num_iscr_sito</b>

        .

        L'operazione consente di rendere visibile il FIR digitale in ricerca per
        una specifica unità locale.
      parameters:
        - name: numero_fir
          in: path
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: num_iscr_sito
          in: path
          required: true
          schema:
            pattern: '^OP[0-9]{4}[A-Z0-9]{3}[0-9]{6}-[A-Z]{2}[0-9]{4}$'
            type: string
      responses:
        '200':
          description: L'acquisizione di visibilità è avvenuta con successo
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/{numero_fir}/acquisizione/{num_iscr_sito}':
    post:
      tags:
        - Formulario digitale
      summary: >-
        ⚠️[DEPRECATO] - utilizzare
        /{numeroFIR}/acquisizione-visibilita/{numIscrSito} - Acquisizione
        visibilità FIR
      description: >-
        Acquisisce la visibilità in ricerca sull'unità locale specificata di un
        FIR digitale creato da terzi.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) almeno uno dei soggetti coinvolti nel formulario, 

        e a cui deve essere riferibile il numero di iscrizione dell'unità locale
        specificata nel parametro <b>num_iscr_sito</b>

        .

        L'operazione consente di rendere visibile il FIR digitale in ricerca per
        una specifica unità locale.
      parameters:
        - name: numero_fir
          in: path
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: num_iscr_sito
          in: path
          required: true
          schema:
            pattern: '^OP[0-9]{4}[A-Z0-9]{3}[0-9]{6}-[A-Z]{2}[0-9]{4}$'
            type: string
      responses:
        '200':
          description: L'acquisizione di visibilità è avvenuta con successo
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      deprecated: true
  '/{numero_fir}/allegato':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Aggiunge un allegato"
      description: >-
        Acquisisce la richiesta di aggiunta di un allegato al formulario
        digitale specificato.


        L'operazione può essere eseguita in tutti gli stati, salvo gli stati
        Annullato e FirmaAnnullamento.


        Il file aggiunto all'xFIR viene inserito all'interno del contenitore ZIP
        e non ncessita di essere firmato.


        Il file da allegare non deve superare 1 MB di dimensione, e la
        dimensione massima del file xFIR risultante non deve superare i 3 MB.

        I file accettati come allegati da questo endpoint devono necessariamente
        essere dei file PDF.


        Per il recupero dell'allegato è necessario scaricare il file xFIR.


        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: >-
          Insieme delle informazioni riguardanti l'allegato da aggiungere al
          formulario
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DatiAllegatoModel'
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoAllegatoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/allegato/{allegato_id}':
    get:
      tags:
        - Formulario digitale
      summary: Download un allegato
      description: >-
        Restituisce il file allegato al formulario digitale specificato.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) il soggetto a cui è stato riferito l'allegato specificato
        in fase di inserimento.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: allegato_id
          in: path
          description: Identificativo dell'allegato all'interno del FIR digitale
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Operazione eseguita con successo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadableBaseResponse'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Rimuove un allegato"
      description: >-
        Acquisisce la richiesta di eliminazione di un allegato dal formulario
        digitale specificato.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) il soggetto a cui è stato riferito l'allegato specificato
        in fase di inserimento.


        L'operazione può essere eseguita in tutti gli stati, salvo gli stati
        Annullato e FirmaAnnullamento.


        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: allegato_id
          in: path
          description: Identificativo dell'allegato all'interno del FIR digitale
          required: true
          schema:
            type: integer
            format: int32
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/annotazione':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Aggiunge annotazione"
      description: >-
        Acquisisce la richiesta di aggiunta di un'annotazione da allegare al
        formulario digitale specificato.


        L'operazione può essere eseguita da un'utenza che abbia visibilità su (o
        coincida con) il soggetto del formulario, trasportatore o destinatario,
        che risulta avere in carico il rifiuto successivamente alle firme di
        partenza.


        Stati del formulario ammessi:

        <ul><li>InserimentoAccettazione</li><li>InserimentoTrasportoSuccessivo</li><li>Accettato</li><li>RespintoAccettatoParzialmente</li></ul>

        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: >-
          Insieme delle informazioni riguardanti l'allegato da aggiungere al
          formulario
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DatiAnnotazioneModel'
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/annulla':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] ⚠️[DEPRECATO] - utilizzare /{numeroFIR}/annulla-fir - Annullamento FIR"
      description: >-
        Acquisisce la richiesta di annullamento del FIR specificato.


        L'annullamento può essere richiesto solo se il formulario non risulta
        già essere firmato sia dal produttore che dal trasportatore.


        L'operazione di annullamento provvede ad annullare il FIR e la relativa
        vidimazione. Questa operazione può essere richiesta solo dal soggetto
        che ha vidimato il numero FIR.

        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: >-
          Insieme delle informazioni riguardanti l'allegato da aggiungere al
          formulario
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DatiAnnullamentoModel'
              description: Dati richiesti per l'annullamento di un FIR
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
      deprecated: true
  '/{numero_fir}/annulla-fir':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Annullamento FIR"
      description: >-
        Acquisisce la richiesta di annullamento del FIR specificato.


        L'operazione può essere richiesta solo da un utenza che abbia incarichi
        per (o coincida con) il soggetto che, tra produttore e trasportatore
        iniziale, ha vidimato il numero FIR.


        L'annullamento può essere richiesto solo se il formulario non risulta
        già essere firmato sia dal produttore che dal trasportatore.


        Stati del formulario ammessi:

        <ul><li>InserimentoQuantita</li><li>InserimentoQuantitaTrasportoIniziale</li><li>InserimentoTrasportoIniziale</li><li>FirmaProduttoreTrasportatoreIniziale</li><li>FirmaProduttore</li><li>FirmaTrasportatoreIniziale</li></ul>

        Ulteriori condizioni affinché l'annullamento sia eseguito sono:

        <ul><li>Non deve risultare una copia digitale del FIR con lo stesso
        numero già consegnata dal destinatario</li><li>Non deve risultare (per
        rifiuti pericolosi) alcuna trasmissione di dati del FIR digitale con lo
        stesso numero avvenuta da parte di alcun soggetto coinvolto nel
        FIR.</li></ul>

        L'operazione di annullamento provvede ad annullare il FIR e la relativa
        vidimazione.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/azioni':
    get:
      tags:
        - Formulario digitale
      summary: Operazioni disponibili
      description: >-
        Restituisce l'elenco delle azioni che è possibile eseguire sul
        formulario indicato, in funzione dello stato in cui si trova, dal
        soggetto specificato nel parametro <b>identificativo_soggetto</b>.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) il soggetto specificato nel parametro
        <b>identificativo_soggetto</b> ed almeno uno dei soggetti coinvolti nel
        formulario.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: identificativo_soggetto
          in: query
          description: >-
            Codice fiscale del soggetto per il quale si richiedono le azioni
            possibili
          required: true
          schema:
            type: string
        - name: num_iscr_sito
          in: query
          description: >-
            Se valorizzato con il numero di iscrizione di una unità locale del
            soggetto specificato con il parametro
            <b>identificativo_soggetto</b>, l'unità locale acquisisce
            automaticamente la visibilità per il FIR digitale
          schema:
            type: string
      responses:
        '200':
          description: Operazione eseguita con successo.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzioniResult'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di parametri richiesti
            non specificati
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita.
        '404':
          description: Formulario non trovato.
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/{numero_fir}/destinatario':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Aggiunge nuovo destinatario"
      description: >-
        Acquisisce la richiesta di aggiunta dei dati del nuovo destinatario per
        il rifiuto indicato nel formulario specificato, a seguito del

        respingimento o della parziale accettazione del rifiuto da parte del
        destinatario precedente.


        L'operazione può essere eseguita da un'utenza che abbia visibilità su (o
        coincida con) il soggetto produttore o il soggetto trasportatore che
        risulta avere 

        in carico il rifiuto al momento del respingimento.


        Stati del formulario ammessi:

        <ul><li>RespintoAccettatoParzialmente</li></ul>

        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario a cui si aggiunge il nuovo destinatario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Informazioni sul nuovo destinatario da aggiungere
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DatiDestinatarioFormularioModel'
                - $ref: '#/components/schemas/DatiDestinatarioFormularioSitoModel'
              description: Dati destinatario
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/hash':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Calcolo del codice hash da firmare"
      description: "Acquisisce la richiesta per il calcolo del codice hash di tipo SHA256 da firmare per poter apporre la firma digitale sul formulario.\r\n\r\nL'operazione può essere eseguita da un'utenza che abbia visibilità su (o coincida con) il soggetto tra quelli indicati nel formulario \r\ncoinvolto nell'operazione di aggiunta delle informazioni da firmare.\r\n\r\nIl formulario deve essere in uno stato di attesa di firma, conseguente all'aggiunta di nuove informazioni.\r\n\r\nStati del formulario ammessi:\r\n<ul><li>FirmaProduttoreTrasportatoreIniziale</li><li>FirmaProduttore</li><li>FirmaTrasportatoreIniziale</li><li>FirmaTrasportatoreSuccessivo</li><li>FirmaAccettazione</li><li>FirmaAnnotazione</li><li>FirmaAnnullamento</li><li>FirmaTrasbordoParziale</li><li>FirmaTrasbordoTotale</li><li>FirmaSostaTecnica</li><li>FirmaDestinatarioSuccessivo</li><li>FirmaAccettazioneSuccessiva</li></ul>\r\nQuesta operazione non muta lo stato del formulario.\r\n\r\nIl codice hash SHA256 prodotto da questo endpoint è calcolato sull'elemento della struttura dati XAdES <i>ds:SignedInfo</i>,\r\nche contiene un riferimento ad una data dichiarata di firma impostata con l'ora corrente al momento dell'invocazione.\r\n \r\nIl codice hash dovrà essere firmato con la chiave privata associata al certificato X509 indicato nella proprietà <i>certificato</i> del modello di input.\r\n\r\nPer completare l'apposizione della firma al formulario digitale dovrà essere successivamente invocato l'endpoint <i>POST /{numero_fir}/acquisizione-firma</i> \r\nspecificando nel modello di input: \r\n<ul><li>lo stesso certificato X509 incluso nell'invocazione di questo endpoint</li><li>lo stesso token ricevuto nell'esito di questa invocazione</li><li>la firma crittografica calcolata con la chiave privata associata al certificato X509</li></ul>\r\nL'art. 7 c.3 del D.M. 59/2023 prevede che il FIR sia sottoscritto da parte degli operatori coinvolti nelle diverse fasi del trasporto, \r\nper cui se il certificato di firma è intestato ad una persona giuridica deve riferirsi al soggetto firmatario.\r\nEsclusivamente in ambiente <b>DEMO</b>, se il certificato firmatario non viene riconosciuto come valido secondo la regola qui descritta, il sistema produrrà un avviso non bloccante.\r\nIn ambiente di <b>PRODUZIONE</b> il controllo sarà bloccante.\r\n\r\nCon l'identificativo della transazione restituito è possibile consultare lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine dell'elaborazione dei dati, il fruitore riceverà una notifica con l'esito dell'elaborazione all'URL specificato."
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario a cui si aggiunge la firma
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Informazioni necessarie per il calcolo del codice hash da firmare
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DatiPerFirmaModel'
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoDatiPerFirmaModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/invia-a-dispositivo':
    post:
      tags:
        - Formulario digitale
      summary: Invia il FIR ad un dispositivo
      description: >-
        Effettua l'invio delle informazioni di un formulario al dispositivo
        associato all'identificativo delle credenziali.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) almeno uno dei soggetti coinvolti nel formulario.


        Le credenziali indicate nel parametro <b>credentials_id</b> devono
        essere state create attraverso le API "Firma remota RENTRI", 

        e devono essere associate o all'unità locale che ha creato il FIR
        digitale, oppure ad una delle unità locali che abbiano già acquisito la
        visibilità del FIR digitale.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: credentials_id
          in: query
          description: Identificativo delle credenziali
          required: true
          schema:
            type: string
      responses:
        '200':
          description: L'invio del FIR è avvenuto con successo
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/{numero_fir}/note-annullamento':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Imposta le note di annullamento del FIR"
      description: >-
        Acquisisce la richiesta di aggiunta delle note di annullamento per il
        FIR specificato.


        L'operazione può essere richiesta solo da un utenza che abbia incarichi
        per (o coincida con) il soggetto che, tra produttore e trasportatore
        iniziale, ha vidimato il numero FIR.


        Stati del formulario ammessi:

        <ul><li>Annullato (il formulario deve essere privo di note)</li></ul>

        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: >-
            URL di callback alla quale verrà inviata la notifica di fine
            elaborazione
          schema:
            type: string
      requestBody:
        description: Dati di annullamento
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/NoteAnnullamentoModel'
              description: >-
                Dati richiesti per l'aggiunta delle note di annullamento di un
                FIR
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EsitoModel'
              responses:
                '200':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    avvenuta ricezione.
                '400':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di
                    formato non corretto della richiesta.
                '500':
                  description: >-
                    Il fruitore restituisce questo Status Code in caso di errori
                    non dipendenti dalla richiesta.
  '/{numero_fir}/pdf':
    get:
      tags:
        - Formulario digitale
      summary: Stampa PDF del FIR
      description: >-
        Ottiene una stampa in PDF del FIR.


        L'operazione può essere eseguita da un'utenza che abbia incarichi per (o
        coincida con) almeno uno dei soggetti coinvolti nel formulario.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
      responses:
        '200':
          description: Formulario in formato PDF restituito in payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadableBaseResponse'
        '204':
          description: No Content
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di parametri richiesti
            non specificati
        '403':
          description: Operazione non consentita
        '404':
          description: Formulario non trovato
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/{numero_fir}/quantita':
    post:
      tags:
        - Formulario digitale
      summary: "\U0001F501[ASYNC] Imposta quantità"
      description: >-
        Acquisice la richiesta di aggiunta o modifica del dato della quantità
        sul formulario indicato.


        L'operazione può essere eseguita da un'utenza che abbia visibilità su (o
        coincida con) il produttore o il primo trasportatore.


        Stati del formulario ammessi:

        <ul><li>InserimentoQuantita</li><li>InserimentoQuantitaTrasportoIniziale</li><li>InserimentoTrasportoIniziale</li><li>FirmaProduttoreTrasportatoreIniziale</li></ul>

        In caso esista una copia del FIR digitale già restituita con
        accettazione totale del rifiuto, l'operazione non è consentita.


        Con l'identificativo della transazione restituito è possibile consultare
        lo stato di avanzamento dell'elaborazione e richiederne l'esito.<br/>Se
        viene specificato un URL nell'header <i>X-ReplyTo</i>, al termine
        dell'elaborazione dei dati, il fruitore riceverà una notifica con
        l'esito dell'elaborazione all'URL specificato.
      parameters:
        - name: numero_fir
          in: path
          description: Numero FIR del formulario
          required: true
          schema:
            pattern: "^([BCDFGHJKLMNPQRSTVWXYZ]{4,6})[ \t-/_]*([0-9]+)[ \t-/_]*([BCDFGHJKLMNPQRSTVWXYZ]{1,2})$"
            type: string
        - name: X-ReplyTo
          in: header
          description: ''
          schema:
            type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/QuantitaRifiutoModel'
        required: true
      responses:
        '202':
          description: Richiesta accettata
          headers:
            Location:
              description: >-
                URL per verificare lo stato dell'elaborazione. Restituito solo
                se non viene specificata una URL di callback nell'header
                <i>X-ReplyTo</i>.
              schema:
                type: string
                description: URL per verificare lo stato dell'elaborazione.
                format: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransazioneModel'
        '400':
          description: >-
            Dettaglio degli errori di validazione in caso di modello dati non
            valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Operazione non consentita
        '404':
          description: >-
            Almeno una delle entità specificate nel modello o tra i parametri
            non è stata trovata
        '423':
          description: "Sono state eseguite troppe richieste non valide. \n\t\t\t\t\t\tQuesta risposta viene restituita quando viene rilevato un numero eccessivo di richieste concorrenti, autenticate ma non valide. \n\t\t\t\t\t\tIn questo caso, le eventuali richieste valide continueranno ad essere accettate, mentre solo le richieste non valide verranno bloccate applicando un meccanismo di \"ban\" a livello di chiamante (Issuer). \n\t\t\t\t\t\tIl servizio di assistenza per l'interoperabilità RENTRI potrà essere contattato dal fruitore del servizio per i chiarimenti relativi alle richieste non valide, al fine di apportare le correzioni necessarie ai client."
        '429':
          description: >-
            Troppe richieste. Questa risposta viene restituita quando vengono
            rilevate più di 100 richieste in 5 secondi.
          headers:
            Retry-After:
              description: >-
                Indica quanto tempo il fruitore deve attendere prima di
                effettuare una nuova richiesta.
        '500':
          description: Errore non gestito (contattare l'assistenza)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      callbacks:
        Callback di notifica di fine elaborazione:
          'https://example.com':
            post:
              summary: >-
                Callback esposta pubblicamente in cui verranno inviate le
                notifiche di fine elaborazione
[...]
